<div class="contact py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- tittle heading -->
      <h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>C</span>ontact
        <span>U</span>s
      </h2>
      <!-- //tittle heading -->
      <div class="row contact-grids agile-1 mb-5">
        <div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-map-marker-alt rounded-circle"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Address</h3>
            <p style="font-weight: bold;color:black;">Chennai
              <label style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;" href="https://www.bing.com/maps?osid=118cb014-01f5-4184-a315-ecdf805b68a9&cp=12.926979~80.110491&lvl=17&imgid=6dc5377e-46c3-4766-b805-3c90d954a517&v=2&sV=2&form=S00027">No: 8 Siva Shanmugam Street, PJR Square, West Tambaram, Landmark: Above Vijaya Bank, Chennai, Tamil Nadu 600045 · ~12 km</a></label>
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-phone rounded-circle"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Call Us</h3>
            <p style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;" href="tel:+1700 120 1190">1700 120 1190</a>
  
  
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-envelope-open rounded-circle"></i>
            </div>
  
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Email</h3>
            <p>
              <a style="font-weight: bold;color:black;" href="mailto:fresh@grocerychennai.in">fresh@grocerychennai.in</a>
            </p>
          </div>
        </div>
      </div>